@font-face {
  font-family: 'FontInter';
  src: url('../assets/fonts/Inter/Inter-Regular.ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'FontInterSemiBold';
  src: url('../assets/fonts/Inter/Inter-SemiBold.ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'FontInterBold';
  src: url('../assets/fonts/Inter/Inter-Bold.ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'FontInterExtraBold';
  src: url('../assets/fonts/Inter/Inter-ExtraBold.ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'FontInterLight';
  src: url('../assets/fonts/Inter/Inter-Light.ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'FontInterMedium';
  src: url('../assets/fonts/Inter/Inter-Medium.ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'FontInter';
}

body {
    position: relative;
    background: #F0F5F8;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    padding: 35px 0;
    margin: 0 auto;
}

.left-sidebar {
    width: 285px;
    text-align: center;
}

.main {
    width: calc(100% - 305px);
    min-height: 600px;
}

.footer {
    width: calc(100% - 305px);
    margin: auto 0 auto auto;
}

.hotel-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.hotel-info-pic {
    position: relative;
    width: 265px;
    height: 180px;
    background-color: rgb(225,225,225);
    border-radius: 4px;
    overflow: hidden;
}

.not-enough-data {
    text-align: center;
    padding: 90px 10px 0 10px;
}

.hotel-info-pic.active {
    width: 325px;
    height: 220px;
}

.swiper-button-prev {
    width: 25px;
    height: 25px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 10px;
    margin: auto;
    background-image: url('/images/icons/left.svg');
    background-repeat: no-repeat;
    background-size: 35px;
    background-position: center;
    cursor: pointer;
    z-index: 3;
}

.swiper-pics {
    width: 100%;
    height: 100%;
}

.swiper-pics .swiper-slide {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
}

.swiper-pics .swiper-pagination {
    position: absolute;
    width: calc(100% - 20px) !important;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    bottom: 5px !important;
    left: 10px !important;
    right: 10px !important;
    margin: auto;
    min-height: 20px;
    z-index: 5;
}

.swiper-pics .pagination-bullet {
    display: inline-flex;
    width: 5px;
    height: 5px;
    margin: 2px;
    background-color: #d2dfe5;
    border-radius: 100%;
}

.swiper-pics .swiper-pagination-bullet-active {
    background-color: #fff;
}

.swiper-button-next {
    width: 25px;
    height: 25px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 10px;
    margin: auto;
    background-image: url('/images/icons/right.svg');
    background-repeat: no-repeat;
    background-size: 35px;
    background-position: center;
    cursor: pointer;
    z-index: 3;
}

.hotel-arrow-increase {
    position: absolute;
    width: 16px;
    height: 16px;
    bottom: 10px;
    right: 10px;
    background-image: url('/images/icons/increase.svg');
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    z-index: 3;
}

.hotel-info-content {
    width: calc(100% - 285px);
}

.hotel-info-pic.active + .hotel-info-content {
    width: calc(100% - 345px);
}

.hotel-room-item {
    width: 100%;
    display: flex;
    margin-bottom: 20px;
}

.room-offer {
    width: 100%;
    height: 100%;
    display: flex;
}

.room-selected {
    width: 100%;
    height: 100%;
    padding: 50px 0;
    display: flex;
    flex-wrap: wrap;
}

.hotel-room-item-left {
    width: calc(100% - 165px);
    padding-right: 20px;
}

.hotel-room-item-right {
    width: 165px;
    text-align: center;
}

.room-selected-choose {
    width: 100%;
    text-align: center;
    font-size: 38px;
    line-height: 40px;
    padding-bottom: 10px;
}

.room-selected-dates {
    width: 100%;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 30px;
    font-size: 24px;
    line-height: 30px;
    color: rgb(1,54,170);
}

.room-selected-title {
    width: 100%;
    text-align: center;
    font-family: 'FontInterExtraBold';
    font-size: 18px;
    line-height: 24px;
    padding-bottom: 5px;
}

.room-selected-text {
    width: 100%;
    font-size: 16px;
    line-height: 22px;
    padding-bottom: 10px;
    text-align: center;
}

.room-selected-flight {
    width: 100%;
    text-align: center;
    font-size: 14px;
    line-height: 18px;
    color: rgb(129, 129, 129);
}

.room-selected-hr {
    height: 1px;
    width: 50px;
    display: block;
    outline: 0;
    border: 0;
    background-color: rgb(130,130,130);
    margin: 16px auto;
}

.room-selected-nights {
    width: 100%;
    text-align: center;
    font-family: 'FontInterSemiBold';
}

.room-selected-price {
    width: 100%;
    text-align: center;
    color: rgb(254,40,38);
    font-family: 'FontInterBold';
    font-size: 22px;
    line-height: 24px;
    margin: 8px auto 25px auto;
}

.room-selected-call {
    width: 100%;
    text-align: center;
    font-size: 20px;
    line-height: 24px;
}

.hotel-room-bronbtn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    line-height: 14px;
    height: 35px;
    background-color: rgb(0,53,169);
    color: #fff;
    cursor: pointer;
    transition: .2s background-color, .2s box-shadow;
    border-radius: 3px;
    box-sizing: border-box;
    user-select: none;
}

.hotel-room-bronbtn:hover {
    transition: .2s background-color, .2s box-shadow;
    background-color: rgb(255,138,0);
    box-shadow: 0 2px 5px 0 rgba(0, 53, 169, .35);
}

.hotel-room-bronbtn:active {
    background-color: rgb(255,138,0);
}

.hotel-room-fullprice {
    font-size: 16px;
    font-weight: bold;
    color: rgb(189,189,189);
    padding-bottom: 2px;
}

.hotel-room-price {
    font-size: 20px;
    color: rgb(255,41,41);
    font-weight: bold;
    padding-bottom: 5px;
}

.hotel-room-nights {
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 10px;
}

.hotel-room-dates {
    color: rgb(0,53,169);
    font-size: 14px;
    padding-bottom: 10px;
}

.hotel-room-title {
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    padding-bottom: 10px;
}

.hotel-room-flight {
    font-size: 14px;
    line-height: 18px;
    color: rgb(129,129,129)
}

.hotel-room-text {
    padding-bottom: 10px;
}

.main-logo {
    display: block;
    max-width: 200px;
    height: 60px;
    margin: 0 auto 35px auto;
}

.manager-phone {
    text-decoration: none;
    font-size: 19px;
    line-height: 24px;
}
.manager-email {
    text-decoration: none;
    font-size: 19px;
    line-height: 24px;
}

.manager-text {
    font-size: 16px;
    line-height: 24px;
}

.aks-manager-btn {
    text-align: center;
    border: 2px solid rgb(0,53,169);
    color: rgb(0,53,169);
    border-radius: 3px;
    padding: 15px 0;
    font-size: 18px;
    line-height: 18px;
    font-weight: bold;
    cursor: pointer;
}

.aks-manager-btn-m {
    width: 250px;
    text-align: center;
    border: 2px solid rgb(0,53,169);
    color: rgb(0,53,169);
    border-radius: 3px;
    padding: 10px 0;
    font-size: 14px;
    line-height: 14px;
    font-weight: bold;
}

.hotel-content-h {
    font-size: 19px;
    line-height: 24px;
    color: rgb(0,53,169);
    padding-bottom: 10px;
}

.hotel-content-text {
    height: 80px;
    font-size: 16px;
    line-height: 20px;
    color: rgb(46,46,46);
    overflow: hidden;
}

.hotel-content-text.active {
    height: auto;
}

.hotel-content-link {
    display: inline-block;
    padding-top: 10px;
    color: rgb(0,53,169);
    text-decoration: underline;
    cursor: pointer;
    user-select: none;
}

.between-blocks {
    margin: 50px auto;
    min-width: 100px;
    width: 30%;
    height: 4px;
    border-radius: 20px;
    background-color: rgb(0,53,169);
}

.footer {
    display: flex;
    padding-top: 30px;
}

.footer-1 {
    width: 410px;
    padding-right: 20px;
}
.footer-2 {
    width: 200px;
    padding-right: 10px;
}
.footer-3 {
    width: calc(100% - 610px);
}

.footer-text {
    font-size: 14px;
    line-height: 20px;
    color: rgb(46, 46, 46);
    padding: 2px 0;
}

.footer-1-top {
    padding-bottom: 20px;
}

.hotel-el {
    padding: 20px;
    border-radius: 3px;
    background-color: #fff;
    box-shadow: 0 2px 5px 0 rgba(0,53,169,.25);
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,53,169,.25);
    -moz-box-shadow: 0 2px 5px 0 rgba(0,53,169,.25);
}

.hotel-el-selected {
    width: 100%;
    padding: 70px 10px;
}

.grey-text {
    color: rgb(51,51,51);
}

.dark-grey-text {
    color: rgb(51,51,51);
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
}

.margin-bottom-10 {
    margin-bottom: 10px;
}
.margin-bottom-15 {
    margin-bottom: 15px;
}
.margin-bottom-20 {
    margin-bottom: 20px;
}
.margin-bottom-25 {
    margin-bottom: 25px;
}
.margin-bottom-30 {
    margin-bottom: 30px;
}
.margin-bottom-35 {
    margin-bottom: 35px;
}
.margin-bottom-40 {
    margin-bottom: 35px;
}

.bold-text {
    font-weight: bold;
}

.open-close {
    display: none;
}

.menu-mobile {
    display: none;
}

.scroll-locked {
    position: fixed;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.pay-pics {
    display: block;
    max-width: 80%;
    width: 80%;
    height: auto;
    margin-top: 20px;
}

.no-result-image {
    display: block;
    width: 50px;
    height: auto;
    margin: 75px auto 0 auto;
}

@media only screen and (max-width: 1250px) {

    .room-selected {
        padding: 25px 0 50px 0;
    }

    .menu-mobile {
        width: 100%;
        display: flex;
        align-items: center;
        margin-bottom: 25px;
    }

    .mobile-manager-name-info {
        color: rgb(46, 46, 46);
    }

    .mobile-manager-name {
        font-weight: bold;
        color: rgb(46, 46, 46);
    }

    .menu-pic {
        width: 50px;
        height: 50px;
        margin: auto 0 auto 0;
        background-image: url('/images/icons/menu-mob.svg');
        background-repeat: no-repeat;
        background-size: contain;
        z-index: 4;
    }

    .menu-pic.active {
        background-image: url('/images/icons/orange-cross.svg');
    }

    .menu-mobile-text {
        width: calc(100% - 460px);
        padding-left: 25px;
        padding-right: 20px;
    }

    .aks-manager-btn-m {
        margin-right: 100px;
    }

    .wrapper {
        margin: 0 15px;
        width: calc(100% - 30px);
        padding: 15px 0;
    }

    .left-sidebar {
        display: none;
    }

    .left-sidebar.active {
        display: block;
    }

    .main {
        width: 100%;
        min-height: 700px;
    }

    .main-logo-small {
        width: 70px;
        height: auto;
    }

    .open-close {
        width: 40px;
        height: 40px;
        display: block;
        background-image: url('/images/icons/increase.svg');
        background-repeat: no-repeat;
        background-size: cover;
        cursor: pointer;
    }

    .menu-nav {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        width: auto;
        height: auto;
        background-color: #fff;
        z-index: 2;
        padding-top: 20px;
    }

    .aks-manager-btn {
        max-width: 300px;
        margin: 0 auto;
    }

    .footer {
        width: 100%;
    }
}

@media only screen and (max-width: 850px) {

    .footer-1 {
        width: 280px;
    }
    .footer-3 {
        width: calc(100% - 490px);
    }

    .aks-manager-btn-m {
        margin-right: 50px;
    }
    .menu-mobile-text {
        width: calc(100% - 410px);
    }
}

@media only screen and (max-width: 700px) {

    .hotel-arrow-increase {
        display: none;
    }

    .hotel-el {
        padding-left: 10px;
        padding-right: 10px;
    }

    .room-offer {
        flex-wrap: wrap;
    }

    .hotel-room-item-left {
        width: 100%;
        order: 2;
    }

    .hotel-room-item-right {
        position: relative;
        width: 100%;
        order: 1;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
    }

    .hotel-room-bronbtn {
        position: absolute;
        top: 0;
        right: 0;
        width: 175px;
        font-size: 13px;
        line-height: 13px;
    }

    .hotel-room-price {
        padding-bottom: 0;
        line-height: 22px;
    }

    .hotel-room-flight {
        margin-bottom: -5px;
    }

    .hotel-room-fullprice {
        width: calc(100% - 175px);
        text-align: center;
        line-height: 16px;
    }

    .hotel-room-dates {
        padding-bottom: 15px;
    }

    .hotel-room-price {
        width: calc(100% - 175px);
        text-align: center;
    }

    .hotel-room-nights {
        width: calc(100% - 175px);
        text-align: center;
    }

    .aks-manager-btn-m {
        display: none;
    }
    .menu-mobile-text {
        width: calc(100% - 110px);
    }

    .footer {
        flex-wrap: wrap;
    }
    .footer-1,
    .footer-2 {
        margin-bottom: 20px;
    }
    .footer-1,
    .footer-2,
    .footer-3 {
        width: 100%;
    }
    .hotel-el {
        flex-wrap: wrap;
    }
    .hotel-info-pic {
        width: 100%;
        height: 220px;
        margin-bottom: 20px;
    }
    .hotel-info-pic.active {
        width: 100%;
        height: 260px;
    }
    .hotel-info-pic.active + .hotel-info-content {
        width: 100%;
    }
    .hotel-info-content {
        width: 100%;
    }

    .hotel-info {
        margin-bottom: 20px;
    }
}